local user = game.Players.LocalPlayer.Name
while wait() do 


wait(1)

firetouchinterest(game.Players.LocalPlayer.Character.Head, workspace.MainArea.Boss1, 0)

wait(2)
for i,v in pairs(game.Workspace:GetDescendants()) do
	if v.Parent.Name == (user) and v:IsA("Part") then
	v.Rotation = Vector3.new(0, 90, 0)
	end
end
	wait(0.25)
game:GetService("Workspace").Part4.Stinky.Union.Position = Vector3.new(-96, 550, 300)

for i,v in pairs(game:GetService("Players").LocalPlayer.Backpack:GetChildren()) do
   if v:IsA("Tool") then
        v.Parent = game:GetService("Players").LocalPlayer.Character
   end
end
game.Players.LocalPlayer.Character["Troy😳"]:Activate()
wait(2.05)
for i,v in pairs(game:GetService("Players").LocalPlayer.Backpack:GetChildren()) do
   if v:IsA("Tool") then
        v.Parent = game:GetService("Players").LocalPlayer.Character
   end
end
game.Players.LocalPlayer.Character["Troy😳"]:Activate()
wait(2.05)
for i,v in pairs(game:GetService("Players").LocalPlayer.Backpack:GetChildren()) do
   if v:IsA("Tool") then
        v.Parent = game:GetService("Players").LocalPlayer.Character
   end
end
game.Players.LocalPlayer.Character["Troy😳"]:Activate()
wait(2.05)
for i,v in pairs(game:GetService("Players").LocalPlayer.Backpack:GetChildren()) do
   if v:IsA("Tool") then
        v.Parent = game:GetService("Players").LocalPlayer.Character
   end
end
game.Players.LocalPlayer.Character["Troy😳"]:Activate()
wait(2.05)
for i,v in pairs(game:GetService("Players").LocalPlayer.Backpack:GetChildren()) do
   if v:IsA("Tool") then
        v.Parent = game:GetService("Players").LocalPlayer.Character
   end
end
game.Players.LocalPlayer.Character["Troy😳"]:Activate()
wait(2.05)
for i,v in pairs(game:GetService("Players").LocalPlayer.Backpack:GetChildren()) do
   if v:IsA("Tool") then
        v.Parent = game:GetService("Players").LocalPlayer.Character
   end
end
game.Players.LocalPlayer.Character["Troy😳"]:Activate()
wait(2.05)
for i,v in pairs(game:GetService("Players").LocalPlayer.Backpack:GetChildren()) do
   if v:IsA("Tool") then
        v.Parent = game:GetService("Players").LocalPlayer.Character
   end
end
game.Players.LocalPlayer.Character["Troy😳"]:Activate()
wait(2.05)
for i,v in pairs(game:GetService("Players").LocalPlayer.Backpack:GetChildren()) do
   if v:IsA("Tool") then
        v.Parent = game:GetService("Players").LocalPlayer.Character
   end
end
game.Players.LocalPlayer.Character["Troy😳"]:Activate()
wait(1)



firetouchinterest(game.Players.LocalPlayer.Character.Head, workspace.Part4.Back, 0)

wait(0.25)


end
